<section class="profile">
  <div class="introText">
    <div class="hello">
      <h1 class="text">Hello, I'm a <br/> Web Developer</h1>
      <div class="stacks">
        <p class="item">React</p>
        <p class="item">Ruby on Rails</p>
        <p class="item">JavaScript</p>
        <p class="item">CSS</p>
        <p class="item">HTML</p>
      </div>
    </div>
  </div>
  <div class="introImage">
    <img class="image" src="<%= asset_path('mathilde.jpg') %>">
    </div>
</section>

<section class="journey" data-controller="project" >
  <h2 class="journey-title">My last projects</h2>
  <div class="projects">
    <%= link_to gardenease_path, class: "project", id: "gardenease-project" do %>
      <div class="project-card" id="gardenease"
      data-action="mouseover->project#showText mouseout->project#hideText">
        <h3>GardenEase</h3>
        <img class="project-img" id="gardenease-img"  src="<%= asset_path('gardenease.png') %>" alt="GardenEase">
        <div class="stack-list">
          <img class="stack-img" id="html-css" src="<%= asset_path('html5.svg') %>">
          <img class="stack-img" id="html-css" src="<%= asset_path('css3.svg') %>">
          <img class="stack-img" src="<%= asset_path('ruby.svg') %>">
          <img class="stack-img" src="<%= asset_path('javascript.svg') %>">
          <img class="stack-img" src="<%= asset_path('json.svg') %>">
          <p class="api">APIs</p>
        </div>
      </div>
    <% end %>

    <div class="project" id="adventure-project">

        <div class="project-card" id="adventure"
        data-action="mouseover->project#showText mouseout->project#hideText">
          <h3>Adventure Exchange</h3>
          <img class="project-img" src="<%= asset_path('mouse.png') %>" alt="AdventureExchange">
          <div class="stack-list">
            <img class="stack-img" id="html-css" src="<%= asset_path('html5.svg') %>">
            <img class="stack-img" id="html-css" src="<%= asset_path('css3.svg') %>">
            <img class="stack-img" src="<%= asset_path('ruby.svg') %>">
            <img class="stack-img" src="<%= asset_path('javascript.svg') %>">
          </div>
        </div>

    </div>
  </div>
</section>

<section class="certifications">
  <h2 class="journey-title">Certifications</h2>
  <div class="lewagon">
    <h4>Web developer</h4>
    <p class="bootcamp">Bootcamp with Le Wagon - 10/24-12/24</p>
    <img class="project-img" id="wagon-img" src="<%= asset_path('wagon.png') %>" alt="wagon">
  </div>
</section>
